@* @model RBApplicationCore80.Models.SalesLeadEntity *@
@model RBApplicationCore80.ViewModel.SpeakerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SalesLeadEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PanNumber" class="control-label"></label>
                <input asp-for="PanNumber" class="form-control" />
                <span asp-validation-for="PanNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AadharNumber" class="control-label"></label>
                <input asp-for="AadharNumber" class="form-control" />
                <span asp-validation-for="AadharNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserImage" class="control-label"></label>
                <input asp-for="UserImage" class="form-control" />
                <span asp-validation-for="UserImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerPicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="SpeakerPicture" class="custom-file-input" />
                    <label class="custom-file-label" for="customFile"></label>
                </div>
                <span asp-validation-for="SpeakerPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerName" class="control-label"></label>
                <input asp-for="SpeakerName" class="form-control" />
                <span asp-validation-for="SpeakerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakingDate" class="control-label"></label>
                <input asp-for="SpeakingDate" class="form-control" />
                <span asp-validation-for="SpeakingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakingTime" class="control-label"></label>
                <input asp-for="SpeakingTime" class="form-control" />
                <span asp-validation-for="SpeakingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
